@use 'Utils/variables/variables.scss';
@use 'Base/reset/reset.scss';
@use 'Components/buttons/buttons.scss';

.fw {
    width: 100%;
}

.flx {
    display: flex;
    &--ctr {
        justify-content: center;
        align-items: center;
    }
    &--col {
        flex-direction: column;
    }
}

.color--dark {
    color: variables.$color--dark;
}

.fa-solid {
    color: #7E7E7E;
    font-size: 1.1rem;
    &--main-color {
      color: variables.$color--primary;
    }
  }

/* -----TEXT STYLES----- */

.txt-loc {
    font-weight: 500;
    color: variables.$color--dark
}

.txt-h1 {
    font-weight: 700;
    font-size: 24px;
}

.txt-p {
    font-size: 18;
    font-weight: 300;
}

.txt--ctr {
    text-align: center;
}

/* -----HEADER----- */

.header {
    width: 100%;
    background-color: #fff;
    &__nav {
        height: 65px;
        & .logo {
            width: 162px;
        }
    }
    &__loc {
        height: 50px;
        background-color: variables.$color--secondary_background;
        gap: 17px;
    }
}

/* -----HERO----- */

.hero {
    background-color: variables.$color--background;
    width: 100%;
    padding: 50px 20px;
    gap: 10px;
    &__btn {
        @include buttons.btn;
    }
}

/* -----NUMBERED CARDS----- */

.nmb-container {
  width: 100%;
  background-color: #fff;
  padding: 50px 20px 50px 30px;
}

.numbered-card {
  width: 100%;
  max-width: 635px;
  height: 70px;
  background-color: #F6F6F6;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
  position: relative;
  margin-top: 20px;
  &__number {
    width: 25px;
    height: 25px;
    background-color: #9356DC;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    left: -12px;
    color: #FFFFFF;
    font-size: .8rem;
  }
  &__col1 {
    width: 80px;
  }
}

/* -----RESTAURANT CARDS----- */

.rst-container {
    width: 100%;
    padding: 20px;
    background-color: variables.$color--background;
}

.rst-card {
    width: 100%;
    max-width: 500px;
    height: 250px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    & img {
      height: 180px;
      width: 100%;
      object-fit: cover;
    }
    &__info {
    width: 100%;
    height: 70px;
    margin-top: -4px;
    }
    &__txt {
    width: 80%;
    justify-content: center;
    padding-left: 15px;
    }
    &__heart {
    width: 20%;
    padding: 15px 20px 0 0;
    justify-content: flex-end;
    }
    &__heart-outline {
    font-size: 24px;
    height: 24px;
    position: relative;
    z-index: 1;
    transition: opacity .2s;
    cursor: pointer;
      &:hover {
      opacity: 0;
      }
      &:hover + .rst-card__heart-gradient {
      opacity: 1;
      transform: scale(1);
      }
    }
    &__heart-gradient {
    font-size: 24px;
    background: linear-gradient(0deg, #FF79DA 50%, #9356DC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    opacity: 1;
    transition: transform .2s;
    transform: scale(0);
    }
  }