* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}
  
body {
    background-color: black;
    font-family: 'Roboto';
    font-size: 16px;
    color: black;
}

