@use '../../utils/helpers/utils-helpers.scss';

/* -----FULL WIDTH----- */

.fw {
    width: 100%;
}

/* -----FLEX----- */

.flx {
    display: flex;
    &--ctr {
        justify-content: center;
        align-items: center;
    }
    &--col {
        flex-direction: column;
    }
}

/* -----ICON COLOR----- */

.fa-solid {
    color: #7E7E7E;
    font-size: 1.1rem;
    &--main-color {
      color: utils-helpers.$color--primary;
    }
}