/* -----FULL WIDTH----- */
.fw {
  width: 100%;
}

/* -----FLEX----- */
.flx {
  display: flex;
  flex-wrap: wrap;
}
.flx--ctr {
  justify-content: center;
  align-items: center;
}
.flx--col {
  flex-direction: column;
}

/* -----ICON COLOR----- */
.fa-solid {
  color: #7e7e7e;
  font-size: 1.1rem;
}
.fa-solid--main-color {
  color: #9356dc;
}

/* -----RESET----- */
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: black;
  font-family: "Roboto";
  font-size: 16px;
  color: black;
}

/* -----TYPOGRAPHY----- */
.txt-loc {
  font-weight: 500;
  color: #353535;
}

.txt-h1 {
  font-weight: 700;
  font-size: 24px;
}

.txt-p {
  font-size: 18;
  font-weight: 300;
}

.txt--ctr {
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.header {
  width: 100%;
  background-color: #fff;
  position: relative;
}
.header__nav {
  height: 60px;
}
.header__nav .logo {
  width: 162px;
  margin-top: 10px;
}
.header__loc {
  height: 50px;
  background-color: #eaeaea;
  gap: 17px;
}
.header__back {
  position: absolute;
  left: 25px;
}
.header__arrow {
  color: #353535;
}

.menu-hero {
  height: 275px;
  justify-content: flex-end;
  align-items: center;
}
.menu-hero--background1 {
  background: url(../../../assets/images/restaurants/resized/1920x1080_rst-01.jpg);
  background-size: cover;
}
.menu-hero--background2 {
  background: url(../../../assets/images/restaurants/resized/1920x1080_rst-02.jpg);
  background-size: cover;
}
.menu-hero--background3 {
  background: url(../../../assets/images/restaurants/resized/1920x1080_rst-03.jpg);
  background-size: cover;
}
.menu-hero--background4 {
  background: url(../../../assets/images/restaurants/resized/1920x1080_rst-04.jpg);
  background-size: cover;
}
.menu-hero__intro {
  height: 60px;
  max-width: 1080px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
  align-items: flex-end;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: -2px;
}
.menu-hero__intro h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: unset;
  z-index: 1;
}
.menu-hero__box {
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-bottom: -20px;
}
.menu-hero__heart-container {
  position: relative;
}
.menu-hero__heart-outline {
  position: relative;
  font-size: 24px;
  height: 24px;
  z-index: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}
.menu-hero__heart-outline:hover {
  opacity: 0;
}
.menu-hero__heart-outline:hover + .menu-hero__heart-gradient {
  opacity: 1;
  transform: scale(1);
}
.menu-hero__heart-gradient {
  font-size: 24px;
  background: linear-gradient(0deg, #ff79da 50%, #9356dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: transform 0.2s;
  transform: scale(0);
}

@media screen and (min-width: 800px) {
  .menu-hero {
    height: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .nmb-card {
    flex: 1;
  }
}
.menu-card {
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  opacity: 0;
  animation: fadeIn 0.8s ease-in both;
}
.menu-card__col1 {
  flex: 1;
  height: 100%;
  padding: 15px;
  overflow: hidden;
}
.menu-card__col1 p {
  font-size: 15px;
  font-weight: 300;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__col1 h3 {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__col2 {
  padding: 15px;
  width: 50px;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
.menu-card__col3 {
  width: 0;
  background-color: #99e2d0;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.menu-card:hover {
  cursor: pointer;
}
.menu-card:hover .menu-card__col3 {
  width: 70px;
}
.menu-card:hover .check {
  opacity: 1;
}

.anim-2 {
  animation-delay: 0.2s;
}
.anim-3 {
  animation-delay: 0.4s;
}
.anim-3a {
  animation-delay: 0.6s;
}
.anim-4 {
  animation-delay: 0.8s;
}
.anim-5 {
  animation-delay: 1s;
}
.anim-6 {
  animation-delay: 1.2s;
}
.anim-7 {
  animation-delay: 1.6s;
}
.anim-8 {
  animation-delay: 1.8s;
}
.anim-9 {
  animation-delay: 2s;
}

.check {
  opacity: 0;
  color: #fff;
  transition: opacity 200ms ease-in-out;
}

.menu {
  background-color: #fff;
}
.menu__background {
  width: 100%;
  max-width: 1080px;
  padding: 50px 20px 0 20px;
  background-color: #f6f6f6;
  align-items: center;
}
.menu__btn {
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  padding: 15px 20px;
  border-radius: 25px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 20px;
  margin: 40px auto;
  display: block;
  text-align: center;
  width: 140px;
}
.menu__btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 25px;
}
.menu__btn:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.menu__btn:hover::before {
  opacity: 1;
}

.menu__box {
  width: 100%;
  max-width: 600px;
}

.spacer {
  height: 20px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

.divider {
  border: 0.5px solid #99e2d0;
  width: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.footer {
  background-color: #353535;
  padding: 20px;
}
.footer a {
  color: #fff;
  line-height: 1.5rem;
}
.footer__icon--utensils::before {
  content: "\f2e7";
  font: var(--fa-font-solid);
  font-size: 15px;
  margin-right: 10px;
}
.footer__icon--handshake::before {
  content: "\f4c4";
  font: var(--fa-font-solid);
  font-size: 15px;
  margin-right: 10px;
}

.logo-footer {
  width: 120px;
  filter: invert(1);
  margin-bottom: 15px;
}

@media screen and (min-width: 980px) {
  .footer {
    flex-direction: row-reverse;
    gap: 20px;
  }
  .footer :nth-child(2) {
    order: 2;
  }
  .footer :nth-child(3) {
    order: 1;
    margin-right: 30px;
  }
  .footer :nth-child(4) {
    margin-right: 30px;
  }
}/*# sourceMappingURL=menu-page.css.map */