@use '../../utils/helpers/utils-helpers.scss';

.header {
    width: 100%;
    background-color: #fff;
    position: relative;
    &__nav {
        height: 60px;
        & .logo {
            width: 162px;
            margin-top: 10px;
        }
    }
    &__loc {
        height: 50px;
        background-color: utils-helpers.$color--secondary_background;
        gap: 17px;
    }
    &__back {
        position: absolute;
        left: 25px;
    }
    &__arrow {
        color: utils-helpers.$color--dark;
    }
}