@use '../../components/helpers/components-helpers.scss';

.nmb-container {
  width: 100%;
  background-color: #fff;
  padding: 50px 20px 50px 30px;
  & h2 {
    margin-left: -20px;
  }
}

.nmb-card {
  @include components-helpers.nmb-card;
}