@use "../../utils/variables/variables.scss";
@use "../../components/helpers/components-helpers.scss";

.hero {
  background-color: variables.$color--background;
  width: 100%;
  padding: 50px 20px;
  gap: 10px;
  &__btn {
    @include components-helpers.btn;
  }
}
