@use "../../utils/variables/variables.scss";
@use "../../components/helpers/components-helpers.scss";

.menu {
  background-color: #fff;
  &__background {
    width: 100%;
    max-width: 1080px;
    padding: 50px 20px 0 20px;
    background-color: variables.$color--background;
    align-items: center;
  }
  &__btn {
    @include components-helpers.btn;
    margin: 40px auto;
    display: block;
    text-align: center;
    width: 140px;
  }
}

.menu__box {
  width: 100%;
  max-width: 600px;
}

.spacer {
  height: 20px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

.divider {
  border: 0.5px solid variables.$color--hightlight;
  width: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
}
